<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:component-scan base-package="com.login" />
	

	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/resources/jsp/" />
      <property name="suffix" value=".jsp" />
   </bean>
  
	<mvc:annotation-driven />
	


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@localhost:1521:XE" />
		<property name="username" value="system" />
		<property name="password" value="naveen" />
	</bean>  

	<!-- Hibernate 4 SessionFactory Bean definition -->
	 <bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" autowire="byName">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.login.domain.Login</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>  
	
	 <bean id="loginDAO" class="com.login.dao.LoginDAOImpl" autowire="byName">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>  
	<bean id="loginController" class="com.login.controller.LoginController">
	<property name="loginService" ref="loginService"></property>
	</bean>
	<bean id="loginService" class="com.login.service.LoginServiceImpl" autowire="byName">
		  <property name="loginDAO" ref="loginDAO"></property>  
	</bean>
	
	 <tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>


</beans>